body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.square{
  max-width: 500px;
  max-height: 500px;
  width: 100vw;
  height: 100vh;
  background-color: lightblue;

  display: flex;
  align-items: center;
  justify-content: center;
}

.square:after {
  content: "Desktop Version";
  font-weight: 600;
}

@media (max-width: 390px) {

  .square {
    max-width: 100vw;
    max-height: 100vh;
  }

  .square:after {
    content: "Mobile Version";
  }

}